//- foot.pug
footer#footer
    script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
    script(type='text/javascript', src="/javascripts/main.js")
    .copyright Proyecto realizado por Javier Martín Fernández · 2018
    .rrss twitter instagram behance linkedin
