//- foot.pug
footer#footer
    script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
    script(type='text/javascript', src="/javascripts/main.js")
    .copyright Proyecto por Javier M.F. Gracias L · 2018 · O.R.I.O.N (Onda Representacional Iniciadora de Ocultistas Novatos)
    .rrss
        a(href='https://www.instagram.com/heaviert/') Instagram
        a(href='https://www.behance.net/heavierhh') Behance
        a(href='https://www.linkedin.com/in/javier-mart%C3%ADn-fern%C3%A1ndez-59a151165/') LinkedIn
