extends layout

block content
  .container-fluid
    .row
        .col-sm-5.col-md-3.col-lg-3
            .chat-column
                .chat-history
                .chat-box
                    textarea(placeholder="Di lo que estás pensando, aunque sea una estupidez.", id="msgContent")
                    button(type="submit", id="sendMsg") ENVIAR
                    button(type="button", id="imReady") VAMOS
        .col-sm-7.col-md-9.col-lg-9
            .points-box
                .teamA Equipo A
                    h2 0
                .teamB Equipo B
                    h2 0
            .player-box
            .board-box
            .container-fluid
                .row
                    .col-sm-12.col-md-4.col-lg-4
                        .timer-box
                            #skip PASAR
                            // #timer 120
                    .col-sm-12.col-md-8.col-lg-8
                        .how-to-box
                            p
                                | <strong> · Primeros pasos · </strong><br>
                                | El objetivo del juego es trabajar en equipo para descubrir todas las palabras que os corresponden y no darle puntos al equipo rival. Quien primero llegue a 50 puntos gana la partida.
                                | Para empezar esperad a que estén todos los jugadores, una vez llegado el momento y queráis empezar la partida pulsad en <bt>VAMOS</bt>.
                                | <br>
                                | <br>
                                | <strong> · Jugando · </strong><br>
                                | Si eres un Jefe, lo sabrás porque puedes ver tus tarjetas y las del otro equipo señaladas con unas pequeñas estrellas coloreadas,
                                | debes dar una pista a tu equipo para que consigan adivinar el mayor número de palabras en este turno. Para ello sólo puedes decir una palabra (relacionada con las cartas de tu equipo)
                                | y un número que indica la cantidad de palabras relacionadas. A continuación los compañeros que no sean jefes deben discutir qué palabras elegir y decírselas al jefe para que este
                                | las seleccione y se repartan los puntos.<br>
                                | Como el jefe podrá ver las cartas correctas de ambos equipos nada le impide hacer trampas, pero eso le convertiría en una persona horrible.
