extends layout

block content
  .container-fluid
    .row
        .col-sm-5.col-md-3.col-lg-3
            .chat-column
                .chat-history
                .chat-box
                    textarea(placeholder="Di lo que estás pensando, aunque sea una estupidez.", id="msgContent")
                    button(type="submit", id="sendMsg") ENVIAR
                    button(type="button", id="imReady") VAMOS
        .col-sm-7.col-md-9.col-lg-9
            .points-box
                .teamA Equipo A
                    h2 0
                .teamB Equipo B
                    h2 0
            .player-box
            .board-box
            .container-fluid
                .row
                    .col-sm-12.col-md-4.col-lg-4
                        .timer-box
                            #timer 20
                    .col-sm-12.col-md-8.col-lg-8
                        .how-to-box
