extends layout

block content
  .container-fluid
    .row
        .col-sm-5.col-md-3.col-lg-3
            .chat-column
                .chat-history
                .chat-box
                    textarea(placeholder="Di lo que estás pensando, aunque sea una estupidez.", id="msgContent")
                    button(type="submit", id="sendMsg") ENVIAR
                    button(type="button", id="imReady") EMPEZAR
        .col-sm-7.col-md-9.col-lg-9
            .board-box
                p Jugadores
                .player-box
