
// Colors
$color-main: #6d8ea1;
$color-main-dark: #3c5560;
$color-accent: #b5daf2;
$color-gris: #eee;
$color-teamA: #f65969;
$color-teamB: #00c6ff;


// Fonts
$tx-boton: normal small-caps bold 1.2em Helvetica, Arial, sans-serif;
$font-large: 22px;
$font-medium: 19px;
$font-small: 14px;
$font-xsmall: 9px;
