
// Colors
$color-main: #e74c3c;
$color-gris: #eee;
$color-teamA: #3498db;
$color-teamB: #9b59b6;


// Fonts
$tx-boton: normal small-caps bold 1.2em Helvetica, Arial, sans-serif;
$font-large: 22px;
$font-medium: 19px;
$font-small: 14px;
$font-xsmall: 9px;
