
// Colors
$color-main: teal;
$color-gris: #eee;


// Fonts
$tx-boton: normal small-caps bold 1.2em Helvetica, Arial, sans-serif;
$font-large: 22px;
$font-medium: 19px;
$font-small: 14px;
$font-xsmall: 9px;
